<h3><font color="#5C3317" size="5px" ><b>Welcome to a world of <i>brilliance</i></font></b></h3>
We here at SchoolSolutionsKenya&#0153 are dedicated to providing exemplary solutions to all schools and learning institutions in Kenya. We will put your institution online in no time, as well as providing school management software of the highest quality. We are also committed to supplying all your hardware needs such as computers,networking hardware, servers, printers, scanners, photocopiers etc.
<%= link_to "Visit our products/services page for more information.", products_path %>
The four key areas we focus on are:
<ul>
<b>
<font color="#6CC417" >
<li>Strategic Consultation</li>
<li>Infrastructure Solutions</li>
<li>Software + Services</li>
<li>Professional Support</li>
</font>
</b>
</ul>

Being the sole ICT solutions company in Kenya that is dedicated to learning institutions, we are in the best position to solve all your problems. We are driven by a strong desire to see schools in Kenya adopt ICT to streamline their activities and improve the quality of education offered.
<ul>
<font color ="#000">
<li>We will set up a fully functional website for your school in the shortest time possible!</li>
<li>Our school management software will automate your school and save upto 40% of your operational costs.  </li>
<li>All our products and services are of the highest quality and are unbelievably affordable!</li>
<li>We are committed to Excellence, Creativity and Performance</li>
</font>
</ul>

Contact us now to find out to experience the difference.<%= link_to "We think you should.", new_contact_path %>