SchoolSolutionsKenya is an ambitious company. This ambition means that exciting opportunities will always be available for equally ambitious individuals. Consequently, we are always on the lookout for talented, self-driven and hardworking individuals who are willing and able to work in a team-based environment.
<br><br>If you are excited about IT, please send us your CV accompanied by responses to these questions below?
<ul>
<li> Why would you love to work for us?</li>
<li>How did you know about SchoolSolutionsKenya?</li>
<li>What is your area of specialisation in IT?</li>
<li>Do you have any experience in any area of IT?</li>
<li>Do you have any portfolio of your work?</li>
</ul>
<p>Send us your c.v to <mail>